*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

:root{
    --background-color: linear-gradient(45deg, #000426, #1f001e);
}

body{
    display: flex;
    padding: 20px;
    background: var(--background-color);
}

.container{
    width: 90%;
    height: 90%;
    border-radius: 25px;
    background-color: rgb(51, 7, 51);
    padding: 25px;
}

#searchBar{
    background-color: #242424;
    border: 0;
    border-radius: 500px;
    color: #fff!important;
    height: 48px;
    padding: 6px 36px;
    text-overflow: ellipsis;
    width: 17%;
    height: 5vh;
    background: var(--background-color);
}

#searchBar:hover{
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.2);
    outline: none;
}

#searchBar:focus{
    box-shadow: 0 0 0 2px #fff;
    outline: none;
}

h2{
    margin: 20px 0px;
}

.explore{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 175px;
    height: 175px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.title{
    padding: 16px;
}

.img{
    width: 85px;
    height: 85px;
    margin-left: 105px;
    margin-top: 40px;
    transform: rotate(25deg);
}

.sidebar{
    width: 30%;
    border: none;
}

.footer{
    width: 100%;
    border: none;
}